@import '../settings.scss';

.color-label {
    border-radius: 20px;
    padding: spacing(1);
    background-color: $color-label-blue;
    width: fit-content;
    text-align: center;
    min-width: spacing(6);
    color: $color-white;
}