@import "../settings.scss";

.podcast-episode-list {
  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: spacing(1);
      text-align: left;
      border-bottom: 1px solid  $color-grey-faded;

      @include media-lg-and-up {
        padding: spacing(2);
      }
    }

    th {
      background-color:  $color-white;
      padding-left: spacing(1);
      padding-right: spacing(1);

      @include media-lg-and-up {
        padding-left: spacing(2);
        padding-right: spacing(2);
      }
    }

    &__title {
      text-align: left;
    }

    &__even-row {
      background-color: $color-grey-faded;
    }

    &__odd-row {
      background-color: $color-white;
    }

    th:last-child,
    td:last-child {
      white-space: nowrap;
      text-align: end;
    }

    &__row-title {
      width: 70%;
      a {
        text-decoration: none;
        color: $color-link-text;
      }
    }
  }
}
