@import '../settings.scss';

.podcast-detail {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    padding: spacing(1.5);
    height: fit-content;

    &__image-container {
        display: flex;
        justify-content: center;
        padding: spacing(2);
        border-bottom: 1px solid #e5e7eb;
    }
    
    &__image {
        width: 175px;
        height: 175px;
        object-fit: cover;
    }
    
    &__title-author-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: spacing(2);
        border-bottom: 1px solid #e5e7eb;
    }
    
    &__title {
        font-weight: bold;
        margin: spacing(1.5) 0;
    }
    
    &__author {
        margin: spacing(1.5) 0;
    }

    &__description-container {
        padding: spacing(2);
    }
}

   