.podcast-detail {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    padding: 10px;
    height: fit-content;

    &__image-container {
        display: flex;
        justify-content: center;
        padding: 16px;
        border-bottom: 1px solid #e5e7eb;
    }
    
    &__image {
        width: 125px;
        height: 125px;
        object-fit: cover;
    }
    
    &__title-author-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid #e5e7eb;
    }
    
    &__title {
        font-weight: bold;
        margin: 10px 0;
    }
    
    &__author {
        margin: 5px 0;
    }

    &__description-container {
        padding: 16px;
    }
}

   