@import '../../../../stories/settings.scss';

.podcast-list {
    padding: 32px;

    &__filter {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 12px;
        gap: 8px;
        margin-bottom: 16px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    
        @include media-lg-and-up {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }
    }
}