@import "../../../../stories/settings.scss";

.podcast-list {
  padding: spacing(4);

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: spacing(1.5);
    gap: spacing(1);
    margin-bottom: spacing(2);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: spacing(3);

    @include media-md-and-up {
      grid-template-columns: repeat(3, 1fr);
      gap: spacing(3);
    }

    @include media-lg-and-up {
      grid-template-columns: repeat(4, 1fr);
      gap: spacing(3.5);
    }
  }
}
