@import "../settings.scss";

//this styles are expected to be expanded as needed
.PureHTMLContent {
  p,
  ul,
  ol,
  li {
    font-size: pxToRem(16);
    line-height: pxToRem(19);
    text-align: justify;

    @include media-lg-and-up {
      font-size: pxToRem(18);
      line-height: pxToRem(25);
    }
  }
}
