.podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    cursor: pointer;

    &__image-container {
        position: absolute;
        z-index: 1;
    }
    
    &__circular-image {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    &__text-container {
        display: flex;
        border: 1px solid #e5e7eb;
        box-shadow: 0px 2px 4px #e8e8e8;
        margin-top: 65px;
        padding-top: 65px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100px;
    }
    
    &__title {
        font-weight: bold;
        margin: 10px 0;
        text-align: center;
    }
    
    &__subtitle {
        margin: 5px 0;
        text-align: center;
    }
}
   


   