@import '../settings.scss';

.podcast-episode-detail {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    padding: spacing(2);
    gap: spacing(4);
    height: fit-content;

    &__title {
        font-weight: bold;
    }
}
